name: Serverless Deployment to QA

on:
  push:
    branches: [ qa ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use NodeJS v12.14.1
      uses: actions/setup-node@v2
      with:
        node-version: '12.14.1'

# Uncomment when needed
#     - name: Cache npm Dependencies
#       uses: actions/cache@v2
#       id: cache_npm
#       with:
#         path: ~/.npm
#         key: ${{ runner.os }}-cache_npm-${{ hashFiles('**/package-lock.json') }}
#         restore-keys: |
#           ${{ runner.os }}-build-
#     - name: Cache Node Modules
#       uses: actions/cache@v2
#       id: cache_node_modules
#       with:
#         path: node_modules
#         key: ${{ runner.os }}-cache_node_modules-${{ hashFiles('**/package-lock.json') }}
#     - name: Install dependencies # https://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable
#       run: |
#         npm ci
#       if: steps.cache_node_modules.outputs.cache-hit != 'true' # skip this step if cacher restored

#     - name: Get the .env.local file from the QA build folder
#       run: |
#         mv ./build/qa/qa.env .env.local
#     - name: Get the serverless.yml from the QA build folder
#       run: |
#         mv ./build/qa/serverless.yml serverless.yml
#     - name: Get the .serverless from the QA build folder
#       run: |
#         mv ./build/qa/.serverless .serverless

#     - name: Deploy to QA
#       env:
#         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_QA_ACCESS_KEY_ID }}
#         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_QA_SECRET_ACCESS_KEY }}
#       run:
#         npm run deploy

